# Usage: pip install -r requirements.txt

# Base ----------------------------------------
numpy<=1.25.2
pybase64<=1.3.0
imageio<=2.31.2
tensorflow

# Flask ----------------------------------------
Flask<=2.3.3
